@import url('https://fonts.googleapis.com/css2?family=Roboto');

.leftMainDiv {
    position: fixed;
    margin-right: 40%;
}
.leftMainDiv h1 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
    color: whitesmoke;
}

.leftMainDiv h2 {
    font-size: 1.25rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-top: 0.75rem;
    color: whitesmoke;
}

.leftMainDiv p {
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    color: gray;
    line-height: 1.5;
    width: 60%;
}

.navBarItems {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.navBarItems p{
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding-left: 15px;
    border-left: 2px solid transparent;
    transition: border-left-color 0.3s;
}

.navBarItems p:hover {
    border-left-color: whitesmoke;
}

.navBarItems a {
    text-decoration: none;
    color: white;
}

.footer {
    margin-top: 100px;
}

.socialMedia {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.socialMedia li {
    padding-bottom: 15px;
    padding-right: 10px;
}

.socialMediaItem {
    color: whitesmoke;
    font-size: 28px;
}

.socialMediaItem:hover {
    color: lightgray;
}

.imageContainer {
  position: relative;
  display: inline-block;
  perspective: 1000px;
}

.image {
  display: block;
  max-width: 100%;
  width: 250px;
  height: auto;
  border-radius: 10px;
  transform: rotateY(10deg);
  transition: transform 0.3s; 
}

.imageContainer:hover .image {
  transform: rotateY(15deg);
}

.border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 6px solid #b7eb8f;
  transform: translateZ(-1px);
  border-radius: 10px;
  z-index: -1;
}


@media (max-width: 768px) {
    .leftMainDiv {
        position: relative;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 90%;
        margin-right: 0;
    }
    .leftMainDiv p {
        width: 100%;
    }
    .border {
        width: 238px;
    }
    .navBarItems {
        flex-direction: row;
    }
    .footer {
        margin-top: 30px;
        display: flex;
    }
}