.rightMainDiv {
    max-width: 40%;
    margin-left: 50%;
}
.aboutDiv p {
    color: grey;
    line-height: 1.5rem;
}

.ExperienceDiv {
    margin-top: 100px;
}
.date p {
    color: grey;
    font-size: .75rem;
    line-height: 1rem;
}
.summaryHeader h3 {
    margin-bottom: 0;
}
.summaryHeader p {
    margin-top: 5px;
}
.summary p {
    color: gray;
    width: 80%;
    font-size: .875rem;
}
.ExperienceDivItem span {
    margin: 0 5px;
}
.ExperienceDivItem h3 {
    color: white;
}

